@model List<string>
@{
    ViewData["Title"] = "Home Page";

    List<String> rooms = Model;
}
<div class="container">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="#">RealTime Communicator using SignalR </a>.
</div>


<br />
<div class="row">
    <div class="col-sm-5">
        <input type="text" readonly class="form-control" style="font-weight: bold;" id="userName" />
    </div>
    <div class="col-sm-5">
        <input type="text" class="form-control" id="roomName" placeholder="Enter Room Name" />
    </div>

    <div class="col-sm-2">
        <button type="button" onclick="createRoom()" class="btn btn-primary">Create Room</button>
    </div>
</div>
<br />
<center>
    <h5>Rooms</h5>
</center>
    <table class="table table-responsive table-bordered">
    <thead class="bg-primary">
        <tr>
            <th>Room Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody id="tableBody">

        @foreach (string room in rooms)
        {
                string[] roomInfo  = room.Split("_");
                <tr>
                    <td>@roomInfo[0]</td>
                    <td><button onclick="JoinRoom(@room)" class="btn btn-info">Join</button></td>
            </tr>

        }

    </tbody>
</table>
</div>